{% extends './base.html' %}


{% load static %}


{% block body %}
    
    
<!-- Carousel -->
<div id="carouselExample" class="carousel slide mt-1">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'img/Banner1.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/banner3.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/banner2 .jpg' %}" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!--Fin Carousel -->

<!-- Cards -->

<div class="container mt-5">
    <h1 class="text-center font-weigth-normal">Products</h1>
</div>

<div class="container mt-4 d-flex mb-5">
    <div class="row">

        <div class="col-md-4 mt-5">
            <div class="card">
                <img src="{% static 'img/card6.jpg' %}" class="card-img-top w-100" alt="">
                <div class="card-body">
                    <h2 class="card-title">Aspidistra</h2>
                    <div class="d-flex justify-content-between">
                        <p class="card-text">Aspidistra en macetero</p>
                        <P class="card-text mr-4 text-success">$32.000</P>     
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 mt-5">
            <div class="card">
                <img src="{% static 'img/card5.jpg' %}" class="card-img-top w-100" alt="">
                <div class="card-body">
                    <h2 class="card-title">Ficus Bonsai</h2>
                    <div class="d-flex justify-content-between">
                        <p class="card-text">Ficus bonsai en macetero</p>
                        <P class="card-text mr-4 text-success">$30.000</P>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 mt-5">
            <div class="card">
                <img src="{% static 'img/card4.jpg' %}" class="card-img-top w-100" alt="">
                <div class="card-body">
                    <h2 class="card-title">Peperomia</h2>
                    <div class="d-flex justify-content-between">
                        <p class="card-text">Peperomia polybrotrya</p>
                        <P class="card-text mr-4 text-success">$32.000</P>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 mt-5">
            <div class="card">
                <img src="{% static 'img/macetero1.jpg' %}"class="card-img-top w-100" alt="">
                <div class="card-body">
                    <h2 class="card-title">Macetero Cerámica</h2>
                    <div class="d-flex justify-content-between">
                        <p class="card-text">Medida: 15,5 diámetro x 15 alto</p>
                        <P class="card-text mr-4 text-success">$4.990</P>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 mt-5">
            <div class="card">
                <img src="{% static 'img/macetero2.jpg' %}" class="card-img-top w-100" alt="">
                <div class="card-body">
                    <h2 class="card-title">Macetero Sp27</h2>
                    <div class="d-flex justify-content-between">
                        <p class="card-text">Medidas: 20 alto x 16 diámetro</p>
                        <P class="card-text mr-4 text-success">$39.865</P>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 mt-5">
            <div class="card">
                <img src="{% static 'img/macetero3.jpg' %}" class="card-img-top w-100" alt="">
                <div class="card-body">
                    <h2 class="card-title">Macetero Gris </h2>
                    <div class="d-flex justify-content-between">
                        <p class="card-text">Medida: 17 alto x 16.5 diámetro</p>
                        <P class="card-text mr-4 text-success">$15.990</P>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 mt-5">
            <div class="card">
                <img src="{% static 'img/sustrato1.jpg' %}" class="card-img-top w-100" alt="">
                <div class="card-body">
                    <h2 class="card-title">FertPlant</h2>
                    <div class="d-flex justify-content-between">
                        <p class="card-text">Fertilizante - 1 Litro</p>
                        <P class="card-text mr-4 text-success">$3.590</P>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 mt-5">
            <div class="card">
                <img src="{% static 'img/sustrato2.jpg' %}" class="card-img-top w-100" alt="">
                <div class="card-body">
                    <h2 class="card-title">Fibra de Coco</h2>
                    <div class="d-flex justify-content-between">
                        <p class="card-text">Saco de 3 Litros</p>
                        <P class="card-text mr-4 text-success">$4.990</P>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 mt-5">
            <div class="card">
                <img src="{% static 'img/sustrato3.jpg' %}" class="card-img-top w-100" alt="">
                <div class="card-body">
                    <h2 class="card-title">Tierra Para Enraizar</h2>
                    <div class="d-flex justify-content-between">
                        <p class="card-text">Ideal para enraizar esquejes</p>
                        <P class="card-text mr-4 text-success">$1.500</P>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</div>

<!-- Fin Cards -->


    <script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/Jquery.js' %}"></script>
    <script src="{% static 'js/reloj.js' %}"></script>
    <script src="{% static 'js/darkMode.js'  %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous">
    </script>

    

{% endblock %}




    


    
    
    

    
    



